MONGO_URI=mongodb://localhost:27017/mydb_local

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/myapp_local
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=
ELASTICSEARCH_USER=
ELASTICSEARCH_PASSWORD=